
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
            background-image: url('../assets/22c659d26e320a5efbd4295d0de48044.jpg');
        }
        
        .silex-id-1490741074739-5 {
            min-height: 95px;
            width: 524px;
            top: 34px;
            left: 444px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1490741074739-5 {
                left: 105px;
                top: 1355px;
                width: 251px;
                min-height: 57px;
            }
        }
        
        .silex-id-1490741210044-8 {
            min-height: 91px;
            width: 365px;
            top: 147px;
            left: 100px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1490741210044-8 {
                left: 95px;
                top: 1455px;
                width: 365px;
                min-height: 83px;
            }
        }
        
        .silex-id-1490740754177-3 {
            min-height: 312px;
            width: 529px;
            background-color: rgb(255, 255, 255);
            top: 198px;
            left: 530px;
            background-attachment: fixed;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1490740754177-3 {
                left: 23px;
                top: 1197px;
            }
        }
        
        .silex-id-1490741120023-6 {
            min-height: 98px;
            width: 357px;
            top: 152px;
            left: 625px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1490741120023-6 {
                left: 98px;
                top: 1506px;
                width: 362px;
                min-height: 86px;
            }
        }
        
        .silex-id-1490740979074-4 {
            min-height: 389px;
            width: 339px;
            background-color: rgb(255, 255, 255);
            top: 195px;
            left: 111px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1490740979074-4 {
                left: 121px;
                top: 1515px;
            }
        }
        
        .silex-id-1490741382865-12 {
            min-height: 201px;
            width: 433px;
            top: 802px;
            left: 121px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1490741382865-12 {
                left: 27px;
                top: 1703px;
            }
        }
        
        .silex-id-1490741313508-11 {
            min-height: 203px;
            width: 313px;
            background-color: rgb(255, 255, 255);
            top: 777px;
            left: 626px;
            background-image: url('../assets/22c659d26e320a5efbd4295d0de48044.jpg');
            background-attachment: fixed;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1490741313508-11 {
                left: 147px;
                top: 1701px;
            }
        }
    